.product-container {
  padding: 16px;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 15px;
}

@media (width < 850px) {
  .product-container {
    padding: 0;
    grid-template-columns: 1fr;
  }
}
