.cart-summary {
  padding: 30px;
  display: flex;
  align-self: flex-start;
  flex-direction: column;
  gap: 16px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px 1px var(--color-purple-4);
}

.cart-summary__block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.block-key {
  font-weight: bold;
}
