@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #274494;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: #150829;
  --background-end-rgb: #6b2bd1;
  /* Custom variables */
  --max-width: 1240px;

  --color-blue-1: #3f5980;
  --color-blue-2: #00d9ff;
  --color-blue-3: #226d7a;
  --color-blue-4: #2c1b8a59;

  --color-purple-1: #31116d;
  --color-purple-2: #cdbfee;
  --color-purple-3: #31116d90;
  --color-purple-4: #8d67e7;
  --color-purple-5: #0f0424;
  --color-purple-6: #8d67e777;

  --color-green-1: #c7ffcc;
  --color-green-2: #0b630b;
  --color-green-3: #43c53e;

  --color-red-1: #f76d6d;
  --color-red-2: #ee5d52;
  --color-red-3: #ffc6c6;

  --color-white-1: #ffffff;

  --color-black-1: #000000aa;
  --color-black-2: #00000011;
}

body {
  width: 100%;
  min-height: 100dvh;
  font-family: var(--font-primary), Helvetica, sans-serif;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, var(--background-start-rgb))
    var(--background-end-rgb);
  color: var(--color-purple-2);
  box-sizing: border-box;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.btn-primary {
  @apply bg-blue-600 hover:bg-blue-800 text-white py-2 px-4 rounded transition-all;
}

.btn-secondary {
  @apply bg-gray-200 hover:bg-gray-300 text-black py-2 px-4 rounded transition-all;
}
