.product-feature {
  width: 100%;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.product-feature__sizes {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.product-feature__qtty {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.product-feature__stock {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 1.4rem;
  color: var(--color-purple-2);
  font-weight: bold;
}

.product-feature__stock p:nth-of-type(2) {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--color-purple-5);
}

.product-feature__description {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product-feature__description p:nth-of-type(2) {
  font-size: 0.8rem;
}

.product-subtitle {
  font-size: 0.9rem;
  font-weight: bold;
}
