/* TOP MENU */

.navbar-container {
  padding: 15px;
  box-shadow: 1px -3px 10px var(--color-purple-1);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.navbar__home {
  min-width: 70px;
}

.navbar__actions {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.actions-user {
  font-size: 0.8rem;
  font-weight: bold;
}

.actions-menu {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar-icon {
  width: 30px;
  height: 30px;
}

/* TOP MENU LINKS */

.categories-links {
  display: flex;
  gap: 8px;
}

@media (width < 768px) {
  .categories-links {
    display: none;
  }
}
